$corPrincipal: #182C61;
$corSecundaria: #f5f6fa;
$corTexto: #fff;
$corTextoSecundario: #000;
$corBotao: #44bd32;
$corBotaoHover: #4cd137;
$fontePrincipal: Roboto, sans-serif;
$larguraContainer: 1024px;